
.homeTable {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.homeTable tr {

    padding-bottom: 2em;    
    height: 80%;
    width: 100%;
    align-content: center;
    

}

.homeTable td {
    display: flex;
    justify-content: center;
    width: 100%;
}

.homeTable h1 {
    font-size: 2.5em;
}


Button {

    width: 10em;
    height: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    color: cornsilk;
    background-color:brown;
    border-radius: 12px;

    
}

Button:hover {

    background-color: teal;
    
}

h1 {
    font-size: xx-large;
    font-family: cursive;
    font-weight: bolder;
    background-color:wheat;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 12px;
    border-width: 0.5em;
    border-style: inset;
    text-align: center;
}