<table class="homeTable">
    <tr>
        <td>   
            <h1>Welcome:</h1> 
        </td>
    </tr>
    <tr>
        <td>
          <Button routerLink="/login" routerLinkActive="active">Login</Button>
        </td>
    </tr>
    <tr>
        <td>
          <a routerLink="/create_account" routerLinkActive="active"><Button>Create Account</Button></a>
        </td>
    </tr>
    <tr>
        <td>
          <a routerLink="/about" routerLinkActive="active"><Button>About</Button></a>
        </td>
    </tr>
    <tr>
        <td>
          <a routerLink="/Contact" routerLinkActive="active"><Button>Contact</Button></a>
        </td>
    </tr>
</table>