<form (submit)="createAccount($event)">
    <table id="createAccountTable">
      <tr>
        <td>
          <h1>Create Account:</h1>
        </td>
    </tr>
      <tr>
    <td>
    <h3>Username:</h3>
    </td>
    <td>
      <input type="text">
    </td>
      </tr> 
    <tr>
    <td>
    <h3>Password:</h3>
  </td>
  <td>
    <input type="password">
  </td>  
  </tr>
  <tr>
    <td>
    <h3>Retype-Password:</h3>
  </td>
  <td>
    <input type="password">
  </td>  
  </tr>
  <tr>
  <td>
    <input type="submit" value="Submit">
  </td>  
  </tr>
  </table>
  </form>
  
  
